<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<title> Odette | Bane Case</title>
<link rel="shortcut icon" href="../odette_files/images/favicon.png">

<link href="../odette_files/css/fonts/stylesheet.css" media="screen" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="./odette_files/css/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="./odette_files/css/portfolio-item.css" media="screen">
<link rel="stylesheet" type="text/css" href="./odette_files/css/blog.css" media="screen">
<link rel="stylesheet" type="text/css" href="./odette_files/css/socialize-bookmarks.css" media="screen">

<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
<script type="text/javascript" src="./odette_files/javascript/jquery.1.4.4.js"></script>
<script type="text/javascript" src="./odette_files/javascript/custom.js"></script>
<script type="text/javascript" src="./odette_files/javascript/twitter.js"></script>


<!-- Photostream Javascript -->
<script type="text/javascript" src="./odette_files/javascript/photostream.js"></script>

<!-- PrettyPhoto -->
<link rel="stylesheet" href="./odette_files/css/prettyPhoto.css" type="text/css" media="screen">
<script type="text/javascript" src="./odette_files/javascript/prettyPhoto.js"></script>

<!-- Masonry Javascript File -->
<link rel="stylesheet" href="./odette_files/css/color-yellow.css" type="text/css"></head>
<script type="text/javascript" src="./odette_files/javascript/filter-fade-portfolio.js"></script>

<body>

<div id="wrapper">

<!-- START HEADER -->

<div id="header-wrapper">

	<div class="header">

		<div id="logo">
			<a href="home.html"><img src="./odette_files/images/logo.png" alt=""></a>
		</div><!--END LOGO-->

		<div id="primary-menu">

			<ul class="menu sf-js-enabled sf-shadow">
                <li><a href="home.html" class="current">Projects</a></li>
                <li><a href="contact.html">Contact</a></li>
				<li><a href="about.html">About</a></li>
			</ul><!--END UL MENU-->

		</div><!--END PRIMARY MENU-->

        <div id="back-top" style="display: block;">
         	<a href="#">Back to Top</a>
        </div><!--END BACK-TOP-->

	</div><!--END HEADER-->

</div><!--END HEADER-WRAPPER-->

<!-- END HEADER -->



<!-- START CONTENT WRAPPER -->

<div id="content-wrapper" style="margin-top: 0px;">

	<div class="fullwidth">
      <img src="./odette_files/images/port1-1.jpg" alt=""><br>
      <img src="./odette_files/images/port1-2.jpg" alt=""><br>
      <img src="./odette_files/images/port1-3.jpg" alt="">
	</div><!--END FULLWIDTH-->

<article>
    <header>
        <h1>바네 수저케이스</h1>
    </header>

    <section class="project-details">
        <h2>Product Detail</h2>
        <p><strong>Year:</strong> 2023</p>
        <p><strong>Client:</strong> 자기자신</p>
        <p><strong>Services:</strong> Product Detail</p>
        <!-- 기타 세부 정보 -->
    </section>

    <section class="project-description">
        <p>이 상세페이지는 어쩌고 저쩌고... 프로젝트에 대한 설명 쭉쭉</p>
        <!-- 추가 설명 -->
    </section>

    <footer>
        <p>© 2023 바네 수저케이스. All rights reserved.</p>
    </footer>
</article>


</div><!--END CONTENT-WRAPPER-->

<div id="footer-wrapper">
	<div class="footer">
		<div class="last">
			<p>© 2021 minimalist. All rights reserved.</p>
		</div><!--END ONE-HALF LAST-->

	</div><!--END FOOTER-->



</div><!--END FOOTER-WRAPPER-->

</div><!--END WRAPPER-->

<script type="text/javascript" src="./odette_files/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "13906fbc645061";
wcs_do();
</script>

</body></html>